@media all {
  [class*='app__button'] {
    display                       : flex;
    align-items                   : center;
    justify-content               : center;

    border                        : none;
    border-radius                 : 0;
    background-color              : transparent;
    
    width                         : 100%;
    min-height                    : 50px;

    font-family                   : 'Montserrat', sans-serif;
    font-weight                   : 500;
    font-size                     : 16px;
    letter-spacing                : 1px;
    text-transform                : uppercase;

    margin                        : 0;
    padding                       : 0;

    cursor                        : pointer;

    svg {
      width                       : auto;
      height                      : 30px;
      fill                        : tint(light,4);

      margin-right                : 7px;
      transform                   : translateY(-1px);
    }

    &[class*='-slim'] {
      color                       : tint(dark,2);
      border                      : 1px solid tint(light,3);
    }

    &[class*='-small'] {
      min-height                  : 36px;
      font-size                   : 14px;
      letter-spacing              : .5px;
    }

    &[class*='-default'] {
      color                       : $white;
      text-shadow                 : 1px 1px 1px tint(brand,6);
      background-color            : tint(brand);
      
      background                  : linear-gradient(-45deg,tint(brand),tint(brand,4));
      border-bottom               : 5px solid tint(brand,6);

      &[class*="-animate"] {
        background                : linear-gradient(-45deg,tint(brand),tint(accent));
        background-size           : 300% 300%;
        animation                 : app__button-default__background-animation 15s ease infinite;
      }

      &:active {
        transform                 : translateY(5px);
        border-bottom             : 1px solid;
      }
    }
  }
}

@keyframes app__button-default__background-animation {
  0% {
    background-position           : 0% 50%;
  }
  50% {
    background-position           : 100% 50%;
  }
  100% {
    background-position           : 0% 50%;
  }
}