@media all {
  [class*='app__button'] {
    display                       : flex;
    align-items                   : center;
    justify-content               : center;

    border                        : none;
    border-radius                 : 0;
    background-color              : transparent;
    
    width                         : 100%;
    min-height                    : 50px;

    font-family                   : 'Montserrat', sans-serif;
    font-weight                   : 500;
    font-size                     : 16px;
    letter-spacing                : 1px;
    text-transform                : uppercase;

    margin                        : 0;
    padding                       : 0;

    cursor                        : pointer;

    svg {
      width                       : auto;
      height                      : 30px;
      fill                        : tint(light,4);

      margin-right                : 7px;
      transform                   : translateY(-1px);
    }

    div.icon {
      width                       : 30px;
      height                      : 30px;

      position                    : relative;
      z-index                     : 0;

      margin-right                : 7px;

      svg {
        position                  : absolute;
        top                       : 0;
        left                      : 0;

        width                     : 100%;
        height                    : 100%;

        margin                    : 0;

        &:first-of-type {
          @include animate(all,.3s);
          transition-property     : fill,transform;

          fill                    : $white;

          z-index                 : 1;
          transform               : scale(0);
        }

        &:last-of-type {
          @include animate(all,.3s);
          transition-property     : fill,transform;

          fill                    : tint(dark,1);

          z-index                 : 0;
          transform               : scale(1);
        }
      }
    }

    &:hover {
      div.icon {
        svg {
          &:first-of-type {
            transform             : scale(1);
            fill                  : tint(dark,1);
          }

          &:last-of-type {
            transform             : scale(0);
            fill                  : $white;
          }
        }
      }
    }

    &[class*='-slim'] {
      color                       : tint(dark,2);
      border                      : 1px solid tint(light,3);
    }

    &[class*='-small'] {
      min-height                  : 36px;
      font-size                   : 14px;
      letter-spacing              : .5px;
    }

    &[class*='-default'] {
      color                       : $white;
      text-shadow                 : 1px 1px 1px tint(brand,6);
      background-color            : tint(brand);
      
      background                  : linear-gradient(0deg,tint(brand,3),tint(brand));
      border-bottom               : 5px solid tint(brand,6);

      &[class*="-animate"] {
        background                : linear-gradient(-45deg,tint(brand),tint(accent));
        background-size           : 300% 300%;
        animation                 : app__button-default__background-animation 10s ease infinite;
      }

      &:active {
        transform                 : translateY(5px);
        border-bottom             : 1px solid;
      }
    }
  }
}

@keyframes app__button-default__background-animation {
  0% {
    background-position           : 0% 50%;
  }
  50% {
    background-position           : 100% 50%;
  }
  100% {
    background-position           : 0% 50%;
  }
}