@media all {
  .layout__herocontent {
    @include animate(opacity,.25s);

    opacity                             : 0;
    overflow                            : hidden;

    position                            : relative;
    z-index                             : 0;

    width                               : 100%;
    background-color                    : tint(light,2);

    .layout__herocontent__text {
      @include animate(opacity,.5s);

      transition-delay                  : 1s;

      width                             : 750px;
      padding                           : 30px 30px 30px 50px;

      position                          : absolute;
      top                               : 50%;
      left                              : 50%;
      z-index                           : 1;

      background-color                  : $white;
      opacity                           : 0;

      transform                         : translate3d(-50%,-50%,0);

      h3,
      h4,
      h5,
      h6,
      p {
        margin                          : 0 0 20px 0;
        padding                         : 0;

        text-align                      : justify;
      }

      &:after,
      &:before {
        content                         : '';
        display                         : block;

        position                        : absolute;

        transform                       : translate(20px,-20px);
      }

      &:before {
        top                             : -14px;
        left                            : -14px;
        right                           : -14px;
        bottom                          : -14px;

        z-index                         : 0;
        background-color                : $white;
        opacity                         : .4;
      }

      &:after {
        top                             : 0;
        left                            : 0;
        right                           : 0;
        bottom                          : 0;

        z-index                         : 1;
        border                          : 4px solid tint(dark,4);
      }

      > div {
        position                        : relative;
        z-index                         : 2;
      }
    }

    .layout__herocontent__text__button {
      position                          : absolute;
      bottom                            : 0;
      left                              : 50%;
      z-index                           : 3;

      cursor                            : pointer;

      border                            : none;
      transform                         : translate3d(-50%,calc(100% - 20px),0px);

      background-color                  : $white;

      width                             : 120px;
      height                            : 60px;

      border                            : none;
      border-bottom-left-radius         : 60px;
      border-bottom-right-radius        : 60px;

      svg {
        width                           : auto;
        height                          : 35px;

        fill                            : tint(dark,3);
      }
    }

    &.mounted {
      opacity                           : 1;

      .layout__herocontent__text {
        opacity                         : 1;
      }
    }

    div.layout__herocontent__image-background,
    video.layout__herocontent__video-background {
      position                          : absolute;
      bottom                            : 0;
      left                              : 0;
      z-index                           : 0;
      max-width                         : 100%;
    }

    div.layout__herocontent__image-background {
      picture {
        @include animate(opacity,1s);

        display                         : block;
        width                           : 100%;
        opacity                         : 0;

        img {
          display                       : block;

          width                         : 100%;
          height                        : auto;
        }
          
        &.loaded {
          opacity                       : 1;
        }
      }
    }

    video.layout__herocontent__video-background {
      @include animate(opacity,1s);
      
      opacity                           : 0;

      &.canplay {
        opacity                         : 1;
      }
    }
  }
}

@keyframes layout__herocontent__text__button-animation__body {
  0% {
    transform                         : translateX(-50%) translateY(0px);
  }
  100% {
    transform                         : translateX(-50%) translateY(10px);
  }
}