@mixin animate($property: null, $duration: null, $timing: null, $delay: null) {
  @if($property == null) {
    $property: all;
  }

  @if($duration == null) {
    $duration: .5s;
  }

  @if($timing == null) {
    $timing: ease-in-out;
  }

  @if($delay == null) {
    $delay: 0s;
  }

  transition-delay                  : $delay;
  transition-duration               : $duration;
  transition-property               : $property;
  transition-timing-function        : $timing;
}

@mixin multiLineEllipsis($fontSize: 16px, $lineCount: 1, $backgroundColor: white) {
  $lineHeight : floor($fontSize * 1.7);
  $maxHeight  : ceil($lineCount * $lineHeight);

  font-size                         : $fontSize;
  line-height                       : $lineHeight;

  max-height                        : $maxHeight;
  overflow                          : hidden;

  position                          : relative;
  z-index                           : 0;

  &:before {
    content                         : '...';

    position                        : absolute;
    bottom                          : 0;
    right                           : 0;
    text-align                      : right;

    width                           : $fontSize;

    background-color                : $backgroundColor;
  }

  &:after {
    content                         : '';

    position                        : absolute;
    right                           : 0;

    width                           : 50px;
    height                          : 50px;

    background-color                : $backgroundColor;
  }
}