@media all {
  [class*="main__navigation"] {
    @include animate(border-bottom,.25s);

    transition-delay                      : .15s;

    display                               : flex;
    align-items                           : center;
    justify-content                       : center;

    border-top                            : 1px dotted $border-light;
    border-bottom                         : 1px dotted $white;

    &.open {
      border-bottom                       : 1px dotted $border-light;
    }

    ul,
    ul li {
      margin                      : 0;
      padding                     : 0;
    }

    > ul {
      display                     : flex;

      li {
        list-style-type           : none;
        cursor                    : pointer;
        
        position                  : relative;
        z-index                   : 0;

        > a {
          @include animate(color,.4s);

          position                : relative;
          z-index                 : 0;
          display                 : block;

          height                  : 80px;
          line-height             : 80px;
          text-decoration         : none;

          padding                 : 0 20px 0 20px;

          color                   : tint(dark,4);
          font-size               : 18px;
          font-weight             : 500;

          pointer-events          : none;

          &:before {
            content               : '';

            width                 : 0;
            height                : 0;

            border-style          : solid;
            border-width          : 6px 6px 0 6px;
            border-color          : tint(brand) transparent transparent transparent;

            position              : absolute;
            bottom                : 1px;
            left                  : 50%;

            opacity               : 0;

            transform             : translateX(-50%);
          }
            
          &:after {
            content               : '';

            display               : block;
            position              : absolute;

            left                  : 50%;
            right                 : 50%;
            bottom                : -1px;
            opacity               : 0;

            height                : 16px;
            border-top            : 13px solid $white;

            background-color      : tint(brand);
          }
        }

        margin                    : 0 20px 0 0;

        &:last-of-type {
          margin                  : 0;
        }

        &:hover,
        &:active,
        &:focus {
          > a {
            text-decoration       : none;
            color                 : tint(brand);
          }
        }

        &.open,
        &:hover,
        &:active,
        &:focus {
          > a {
            &:after {
              animation           : hemmers__main__navigation-in ease-in-out .4s normal forwards;
            }
          }
        }

        &.has {
          &.open,
          &:hover,
          &:active,
          &:focus {
            > a {
              &:before {
                animation         : hemmers__main__navigation-arrow__in ease-out .4s .2s normal forwards;
              }
            }
          }

          &:after,
          &:before {
            cursor                : pointer;

            content               : '';
            display               : block;

            position              : absolute;
            z-index               : 5;

            width                 : 90%;
            height                : 90%;

            bottom                : 0;

            background-color      : $error;
            opacity               : 0;
          }

          &:after {
            right                 : 0;
            transform             : skewX(16deg);
          }

          &:before {
            left                  : 0;
            transform             : skewX(-16deg);
          }

        }

        &.sale {
          a {
            span {
              color               : $white;
              background-color    : $error;

              padding             : 8px 16px 8px 16px;
              border-radius       : 10px;
            }

            &:after {
              background-color    : $error;
            }

            &:before {
              border-color        : $error transparent transparent transparent;
            }
          }
        }
      }
    }
  }

  .mega__menue__navigation {
    @include animate(all,.35s);

    transition-property                   : height,transform;

    position                              : absolute;
    z-index                               : 10000;

    width                                 : 100%;

    border-bottom                         : 5px solid tint(dark,5);
    transform                             : translateY(-200%);

    &:after {
      content                             : '';

      position                            : absolute;
      top                                 : 0;
      left                                : 0;
      right                               : 0;
      bottom                              : 0;
      z-index                             : 0;

      background-color                    : $white;
    }

    &.open {
      transform                           : translateY(-10px);
    }

    .particles-js-canvas-el {
      @include animate('opacity',.25s);

      position                            : absolute;
      top                                 : 0;
      left                                : 0;

      opacity                             : 1;
    }

    .mega__menue__navigation__container {
      position                            : relative;
      z-index                             : 2;
    }

    [class*="mega__menue__navigation__inner"] {
      @include animate('opacity',.35s);

      transition-delay                    : 0s;

      display                             : grid;
      grid-template                       : auto / repeat(25,1fr); 
      grid-gap                            : 20px;

      width                               : 100%;

      position                            : absolute;
      top                                 : 0;
      left                                : 0;

      opacity                             : 0;
      transform                           : translateY(-200%);

      &.active {
        transition-delay                  : .2s;

        transform                         : translateY(10px);
        opacity                           : 1;
      }

      ul,
      ul li {
        margin                            : 0;
        padding                           : 0;
      }

      > ul {
        grid-column                       : span 15;

        display                           : grid;
        grid-template                     : auto / repeat(3,1fr);
        grid-gap                          : 10px;

        margin                            : 30px 0 30px 0;
        
        li {
          list-style-type                 : none;

          a {
            @include animate(color,.25s);

            display                       : inline-block;

            position                      : relative;
            z-index                       : 0;

            color                         : tint(dark,4);
            font-size                     : 16px;
            font-weight                   : 500;            
            line-height                   : 30px;

            text-decoration               : none;

            &:after {
              @include animate(all,.25s);

              transition-property         : left,right;
              transition-delay            : .15s;

              content                     : '';

              position                    : absolute;
              bottom                      : -3px;
              left                        : 50%;
              right                       : 50%;

              height                      : 3px;
              background-color            : tint(brand);
            }

            &:hover {
              color                       : tint(brand);

              &:after {
                left                      : 0px;
                right                     : 0px;
              }
            }
          }
        }
      }

      > .mega__elements {
        grid-column                       : span 10;
        margin                            : 30px 0 30px 0;
      }
    }
  }
}

@keyframes hemmers__main__navigation-in {
  from {
    left                                  : 50%;
    right                                 : 50%;
    opacity                               : 0;
  }

  to {
    left                                  : 0;
    right                                 : 0;
    opacity                               : 1;
  }
}

@keyframes hemmers__main__navigation-arrow__in {
  from {
    bottom                                : 1px;
    opacity                               : 0;
  }

  to {
    bottom                                : -6px;
    opacity                               : 1;
  }
}