@font-face {
    font-family: 'lemonadealternates';
    src: url('../../static/fonts/lemonade/lemonade-alternates-webfont.woff2') format('woff2'),
         url('../../static/fonts/lemonade/lemonade-alternates-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lemonaderegular';
    src: url('../../static/fonts/lemonade/lemonade-regular-webfont.woff2') format('woff2'),
         url('../../static/fonts/lemonade/lemonade-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}