@media all {
  $padding     : 20px;
  $offsetValue : unquote('calc((50vw - ((100vw - 100%) / 2)) - ((#{$contentWidth} / 2) + #{$padding}))');

  [class*="product__slider"] {
    > h3 {
      margin-bottom                   : $padding;
    }

    > div {
      position                        : relative;
      z-index                         : 0;

      [class*="product__slider-default__button"] {
        @include animate(width,.15s);

        width                         : 60px;
        height                        : 60px;

        svg {
          width                       : $padding;
          height                      : auto;
        }

        position                      : absolute;
        top                           : 0;

        transform                     : translateY(-50%);
        
        &:after {
          content                     : '';

          position                    : absolute;
          top                         : 0;
          left                        : 0;
          right                       : 0;
          bottom                      : 0;
          z-index                     : -1;

          background-color            : $white;
          opacity                     : .9;
        }

        &:hover,
        &:active {
          width                       : 70px;
        }
      }

      [class*="__button-next"] {
        right                         : calc(#{$offsetValue} + (#{$padding} + 1px));
      }

      [class*="__button-prev"] {
        left                          : calc(#{$offsetValue} + (#{$padding} + 1px));
      }

      > ul,
      > ul > li {
        margin                        : 0;
        padding                       : 0;
      }

      > ul {
        flex-wrap                     : nowrap;
        white-space                   : nowrap;

        overflow-x                    : scroll;
        scrollbar-width               : none;

        padding-left                  : $offsetValue;
        padding-right                 : $offsetValue;

        > li {
          list-style-type             : none;

          flex-basis                  : 20%;
          max-width                   : 20%;

          padding                     : 0 $padding 0 $padding;
          flex-shrink                 : 0;

          &:last-of-type {
            &:after {
              content                 : '';
              display                 : block;

              position                : relative;
              top                     : 0%;
              left                    : 100%;

              background-color        : #ff0000;
              opacity                 : .5;

              width                   : 151px;
              height                  : 10px;
            }
          }
        }

        &[style*="--width"] {
          > li {
            flex-basis                : var(--width);
            max-width                 : var(--width);
          }
        }
      }

      > ul::-webkit-scrollbar {
        display                       : none;
      }
    }
  }
}