@media all {
  .app__footer {
    .to__top {
      position                            : fixed;
      right                               : 20px;
      bottom                              : 20px;
      z-index                             : 0;

      width                               : auto;
      padding                             : 0 15px 0 15px;

      color                               : $white;
      font-size                           : 12px;
      text-shadow                         : 1px 1px 0 tint(dark,6);
      min-height                          : 42px;
      flex-direction                      : row-reverse;

      svg {
        fill                              : $white;
        height                            : 15px;
        margin                            : 0 0 0 10px;
      }

      &:after {
        content                           : '';

        position                          : absolute;
        top                               : 0;
        left                              : 0;
        right                             : 0;
        bottom                            : 0;
        z-index                           : -1;

        background-color                  : tint(dark,5);
        opacity                           : .85;
      }
    }

    h6 {
      text-transform                      : none;

      margin                              : 0 0 15px 0;
      padding                             : 0;
    }

    .app__footer-misc {
      background-color                    : tint(dark,4);
      padding                             : 40px 0 0 0;

      > .flex {
        flex-wrap                         : wrap;
        justify-content                   : space-between;
        align-items                       : flex-start;

        .app__footer-misc__legal {
          p {
            color                         : tint(light,3);
            font-size                     : 12px;
            line-height                   : 150%;

            margin                        : 0;
          }

          > nav {
            margin                        : 0 0 30px 0;

            .app__footer-misc__legal-button {
              @include animate(color,.25s);

              display                     : inline-block;
              position                    : relative;
              z-index                     : 0;

              color                       : tint(light,3);

              margin                      : 0 15px 0 0;
              padding                     : 0 15px 0 0;

              &:hover {
                color                     : tint(brand,3);
              }

              &:last-of-type {
                margin                    : 0;
                padding                   : 0;
              }

              &:not(:last-of-type) {
                &:after {
                  content                 : '';
                  display                 : block;

                  position                : absolute;
                  top                     : 50%;
                  right                   : 0;
                  
                  width                   : 1px;
                  height                  : 13px;

                  background-color        : tint(dark,1);
                  transform               : translateY(-50%);
                }
              }
            }
          }
        }

        .app__footer-misc__inspire {
          h6 {
            flex                          : 0 0 100%;
            color                         : $white;
          }

          > nav {
            .app__footer-misc__inspire-button {
              display                     : inline-block;

              position                    : relative;
              z-index                     : 0;

              width                       : 50px;
              height                      : 50px;

              overflow                    : hidden;

              padding                     : 0;
              margin                      : 0 20px 0 0;

              .icon {
                position                  : relative;
                z-index                   : 0;

                width                     : 50px;
                height                    : 50px;

                svg {
                  transition-property     : fill,transform,opacity;

                  &:first-of-type {
                    opacity               : 0;
                    fill                  : tint(dark,4);
                  }

                  &:last-of-type {
                    opacity               : 1;
                    fill                  : tint(light,3);
                  }
                }
              }

              &:hover {
                div.icon {
                  svg {
                    &:first-of-type {
                      opacity             : 1;
                      fill                : tint(brand,3);
                    }

                    &:last-of-type {
                      opacity             : 0;
                      fill                : tint(dark,4);
                    }
                  }
                }
              }

              &:last-of-type {
                margin                    : 0;
              }

              &:after {
                content                   : '';

                position                  : absolute;
                top                       : 0;
                left                      : 0;

                width                     : 100%;
                height                    : 100%;

                border-radius             : 100%;
                border                    : 2px solid tint(light,3);
              }
            }
          }
        }

        .app__footer-misc__legal,
        .app__footer-misc__inspire {
          margin-top                      : -6px;
        }

        .app__footer-misc__logo {
          display                         : block;
          max-width                       : 23%;

          svg {
            width                         : 100%;
            height                        : auto;
          }
        }

        .app__footer-misc__languages {
          flex                            : 0 0 100%;
          justify-content                 : center;

          margin                          : 40px 0 0 0;
          padding                         : 10px 0 10px 0;
          border-top                      : 1px dotted $border-light;

          .app__footer-misc__languages-button {
            @include animate(color,.25s);

            position                      : relative;
            height                        : 60px;
            line-height                   : 60px;

            padding                       : 0 25px 0 25px;

            color                         : tint(light,3);
            font-size                     : 16px;
            text-shadow                   : 1px 1px 0 tint(dark,5);

            &:not(.active) {
              &:hover {
                color                     : tint(brand,3);
              }
            }

            &.active,
            &.active:hover {
              color                       : $white;
            }

            &:not(:last-of-type) {
              &:after {
                content                   : '';

                position                  : absolute;
                top                       : 50%;
                right                     : 0;

                width                     : 1px;
                height                    : 15px;
                background-color          : tint(light,3);

                transform                 : translateY(-50%);
              }
            }
          }
        }
      }
    }

    .app__footer-additional {
      grid-template                       : auto/repeat(21, 1fr);
      grid-gap                            : 50px;

      .app__footer-additional__service,
      .app__footer-additional__information {
        grid-column                       : span 4;

        nav {
          [class*="-button"] {
            margin                        : 0 0 15px 0;

            &:last-of-type {
              margin                      : 0;
            }
          }
        }
      }

      .app__footer-additional__contact {
        grid-column                       : span 6;

        [class*='-button'] {
          margin                          : 20px 0 0 0;
        }
      }

      .app__footer-additional__security {
        grid-column                       : span 7;

        [class*='-slot'] {
          svg {
            width                         : 70px;
            height                        : 70px;

            margin                        : 0 10px 0 0;
          }

          margin                          : 0 0 20px 0;

          &:last-of-type {
            margin                        : 0;
          }

          p {
            margin                        : 0;
          }
        }
      }

      .app__footer-additional__contact,
      .app__footer-additional__service,
      .app__footer-additional__information {
        position                          : relative;
        z-index                           : 0;

        padding                           : 0 50px 0 0;

        &:after {
          content                         : '';

          position                        : absolute;
          top                             : 7px;
          right                           : 0;
          bottom                          : 0;

          width                           : 0px;
          border-right                    : 1px dotted $border-light;
        }
      }
    }

    .app__footer-logos {
      justify-content                     : space-between;

      .app__footer-logos__payment,
      .app__footer-logos__shipping {
        a {
          text-decoration                 : none;
        }

        svg {
          width                           : auto;
          height                          : 40px;
          margin                          : 0 20px 0 0;

          &:last-of-type {
            margin                        : 0;
          }
        }
      }
    }

    .app__footer-trustedshops {
      grid-template                       : auto/repeat(20, 1fr);
      grid-gap                            : 0px;

      .app__footer-trustedshops__review {
        grid-column                       : span 4;
        padding                           : 0 30px 0 30px;

        border-right                      : 1px dotted $border-light;

        &:first-of-type {
          border-left                     : 1px dotted $border-light;
        }
        
        .app__footer-trustedshops__review-head {
          margin                          : 0 0 15px 0;
          font-size                       : 14px;

          > svg {
            width                         : 30px;
            height                        : auto;

            fill                          : tint(light,3);
            margin                        : 0 10px 0 0;
          }

          .app__rating {
            width                         : 30%;
            margin                        : -2px 0 0 10px;
          }
        }

        p {
          font-size                       : 14px;
          line-height                     : 150%;
          margin                          : 0;
        }
      }
    }

    .app__footer-logos,
    .app__footer-additional,
    .app__footer-trustedshops {
      border-top                          : 1px dotted $border-light;
      padding                             : 35px 0 35px 0;
    }
  }
}